body 
{ font-family: arial; background-color: rgb(112, 123, 223);} 
body 
img { width: 500px; } 
body p { color: rgb(167, 12, 59);
padding: 10px; font-size: 45px;} 
h1 { text-align: center; margin: 20px;} 
body a 
{ font-size: 30px;}